{% extends "base.html" %}

{% block body %}

	<br>
	<div class="card accordion" id='seasons_container' style='border: 0px;'>
			
		<div class='card-header'>
			<button type="button btn-primary btn-block" data-toggle="collapse" data-target="#season_stats" aria-expanded="true" aria-controls="season_stats">
				Show/Hide Season Stats
			</button>
		</div>

		<div class="card-body collapse" style='margin: 0px; padding-left: 0px; padding-right: 0px' id="season_stats">
			<div class='row' id='fpp_row'>
				{% include "includes/solo_fpp_season_stats.html" %}
				{% include "includes/duo_fpp_season_stats.html" %}
				{% include "includes/squad_fpp_season_stats.html" %}
			</div>
			<br>
			<div class="row" id='tpp_row'>
				{% include "includes/solo_season_stats.html" %}
				{% include "includes/duo_season_stats.html" %}
				{% include "includes/squad_season_stats.html" %}
			</div>
		</div>

	</div>
	<br>

	<div class="card accordion" id='datatable_container'>
		<div class="card-header">
			<b>Please note:</b> this table will auto-reload with data as of when it becomes available
		</div>
		<div class="card-body">
			<table class='table table-condensed hover' id='results_datatable'  style="width:100%">
				<thead>
					<tr>
						<th width='10%'>Map</th>
						<th width='10%'>Mode</th>
						<th width='16%'>Custom</th>
						<th width='15%'>Created</th>
						<th width='18%'>Placement</th>
						<th width='40%'>Details</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
{% endblock %}